{% extends 'base.html' %}



{% block content %}

<div class="container-fluid justify-content-center">
    <div class="row shop-header p-5">
        <div class="col-4 ms-5 d-flex flex-column">
            <div class="about-text">
                <h1>About Us</h1>
                <p>We are cultivators of the coolest cars, salesmen of the slickest rides, and motorheads of the utmost 
                    understanding of what makes a car a sick ride.
                    <br>
                    <br>
                    We sells the latest and most luxiourious vechicles. Appointment only.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}